################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
.vs/
.vscode/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.txt
*.dll
*.pdb

/PresentationLayer.CSharpEgitimKampi301/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
